.main {
  width: 100%;
  padding: 4px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  width: 1100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.inner ul {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
}

.inner ul li {
  margin-left: 2rem;
}

.mobile_main {
  display: none;
  position: relative;
  z-index: 10;
}

/* Mobile */
@media (max-width: 767px) {
  .main {
    display: none;
  }

  .mobile_main {
    width: 100%;
    background: var(--white);
    padding: 4px 39px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
  }

  .logo {
    position: relative;
    z-index: 10;
  }

  /* MENU */
  .container {
    cursor: pointer;
    display: inline-block;
    position: relative;
    z-index: 10;
  }

  .bar {
    width: 35px;
    height: 5px;
    background-color: var(--red-orange);
    margin: 6px 0;
    transition: 0.4s;
  }

  .changeBar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .changeBar2 {
    opacity: 0;
  }

  .changeBar3 {
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .menuOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--light-coral-red);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.25s, visibility 0.25s;
    z-index: 9;
  }

  .show {
    visibility: visible;
    opacity: 1;
  }

  .hide {
    visibility: hidden;
    opacity: 0;
  }

  .menuItems {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .menuItems li {
    margin: 20px 0;
  }

  .menuItems li a {
    text-decoration: none;
    color: var(--white);
    font-size: 24px;
  }

  .signinbutton {
    margin-top: 4rem !important;
  }
}
