.footer_main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: var(--black);
  padding-bottom: 1rem;
}

.footer_container {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 4rem;
  justify-content: space-between;
  align-items: start;
  margin-top: 3rem;
  padding-bottom: 2rem;
}

.left {
  max-width: 365px;
}

@media (max-width: 767px) {
  .footer_container {
    width: 100%;
    padding: 0 39px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .footer_container ul li:first-child {
    margin-top: -1.5rem;
  }
}
