.overview_main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overview_container {
  width: 100%;
}

.card_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Mobile */
@media (max-width: 767px) {
  .overview_main {
    padding-bottom: 0;
  }

  .overview_container {
    padding: 0 31px;
  }

  .card_container {
    flex-direction: column;
  }
}
