.calltoaction_main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calltoaction_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left img {
  position: relative;
  z-index: 1;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
}

.bottom {
  min-width: 923px;
  padding: 43px 48px;
  background: var(--red-orange);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  right: 0;
  bottom: -2rem;
}

.bottom form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.bottom form input[type='email'] {
  width: 380px;
  padding: 1rem;
  color: var(--white);
  font-family: 'Jost', sans-serif;
  font-size: 1rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--white);
}

.bottom form input[type='email']::placeholder {
  color: var(--white);
  font-size: 15px;
  opacity: 0.5;
}

.bottom form button {
  margin-left: 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.bottom form input[type='email']:focus,
.bottom form button:focus {
  outline: none;
}

.bottom_mobile {
  display: none;
}

@media (max-width: 767px) {
  .calltoaction_main {
    padding: 39px 0;
  }

  .calltoaction_container {
    flex-direction: column;
  }

  .top {
    padding: 39px;
  }

  .top div div {
    text-align: left;
  }

  .top div div:first-child {
    margin-top: 1rem;
  }

  .left img {
    width: 100%;
    height: 100%;
  }

  .bottom {
    display: none;
  }

  .bottom_mobile {
    width: 100%;
    padding: 2rem;
    background: var(--dark-chocolate);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .bottom_mobile form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .bottom_mobile form input[type='email'] {
    width: 100%;
    padding: 1rem;
    color: var(--black);
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
    border: none;
  }

  .bottom_mobile form input[type='email']::placeholder {
    color: var(--black);
    font-size: 15px;
    opacity: 0.5;
  }

  .bottom_mobile form button[type='submit'] {
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    background: var(--red-orange);
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .bottom_mobile form button[type='submit'] img {
    margin-left: 1rem;
  }

  .bottom_mobile form input[type='email']:focus,
  .bottom_mobile form button:focus {
    outline: none;
  }
}
