.card {
  max-width: 251px;
  padding: 2.3rem;
  background: var(--red-orange);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.card_image {
  width: 128px;
  height: 128px;
  background: var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Mobile */
@media (max-width: 767px) {
  .card {
    max-width: 100%;
    padding: 1rem 0;
    background: transparent;
    color: var(--black);
  }

  .card_image {
    background: var(--aqua-blue);
  }

  .card div:last-child {
    max-width: 190px;
    margin-top: 0;
  }
}
