@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');

:root {
  --black: #1d1c1e;
  --white: #ffffff;
  --pale-grey-blue: #f1f3f5;
  --dark-chocolate: #532500;
  --red-orange: #e93802;
  --aqua-blue: #009dbc;
  --light-coral-red: #ff9e90;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 1100px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--black);
}

.bold {
  font-weight: 700;
}

.text_white {
  color: var(--white);
}

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.text_justify {
  text-align: justify;
}

.text_uppercase {
  text-transform: uppercase;
}

.heading_primary {
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
}

.heading_secondary {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 2px;
}

.heading_tertiary {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 5px;
}

.corner_radius {
  border-radius: 15px;
}

.padding_tb_121 {
  padding: 121px 0;
}

.margin_t_6 {
  margin-top: 6px;
}

.margin_t_25 {
  margin-top: 25px;
}

.margin_t_28 {
  margin-top: 28px;
}

.margin_t_31 {
  margin-top: 31px;
}

.margin_t_36 {
  margin-top: 36px;
}

.margin_t_51 {
  margin-top: 51px;
}

.margin_t_75 {
  margin-top: 75px;
}

.button {
  padding: 12px 22px;
  font-weight: 500;
  letter-spacing: 1px;
  border: 4px solid var(--red-orange);
}

.button_primary {
  color: var(--white);
  background: var(--red-orange);
}

.button_secondary {
  color: var(--black);
  background: transparent;
}

.avatar_img {
  border-radius: 50%;
}

/* Mobile */
@media (max-width: 767px) {
  html,
  body {
    overflow-x: hidden;
  }

  .container {
    width: 100%;
  }
}
